.about {
  padding-inline: 1rem;
  position: relative;
  overflow: hidden;

  .container {
    max-width: 1920px;
    margin-inline: auto;
    padding-top: 5rem;
    height: 100%;

    @media (min-width: 1080px) {
      padding-top: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding-inline: calc(8rem + 10px);
    }
  }

  .ornament {
    position: absolute;
    top: 50%;
    max-width: 1280px;
    object-fit: cover;
    width: 100%;
    right: 0;
    transform: translateY(-50%);

    @media (min-width: 1024px) {
      object-fit: fill;
      right: -3rem;
    }
  }

  .photo {
    display: flex;
    justify-content: center;

    @media (min-width: 1080px) {
      height: 100vh;
      align-items: center;
    }

    div {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        background: var(--white);
        top: 0;
        z-index: -1;
        left: -0.3rem;
        border-radius: 50%;

        @media (min-width: 1080px) {
          width: 350px;
          height: 350px;
          left: -0.5rem;
        }

        @media (min-width: 1440px) {
          width: 450px;
          height: 450px;
        }
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center -10px;

        @media (min-width: 1080px) {
          width: 350px;
          height: 350px;
        }

        @media (min-width: 1440px) {
          width: 450px;
          height: 450px;
        }
      }
    }
  }

  .info {
    color: var(--white);
    margin-top: 3rem;
    text-align: center;

    @media (min-width: 1080px) {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-size: 1.75rem;
      text-transform: uppercase;

      @media (min-width: 1080px) {
        font-size: 2.5rem;
      }
    }

    strong {
      font-weight: 450;
      display: block;
      margin-top: 0.5rem;
      font-size: 1.2rem;
      color: var(--gray-500);

      @media (min-width: 1080px) {
        font-size: 1.5rem;
      }
    }

    p {
      margin-top: 1.5rem;
      color: var(--gray-700);
      line-height: 1.4;

      @media (min-width: 550px) {
        max-width: 550px;
        margin-inline: auto;
      }

      @media (min-width: 1080px) {
        max-width: 100%;
        margin-inline: 0;
      }
    }

    .contact {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      justify-content: center;

      @media (min-width: 1080px) {
        justify-content: flex-start;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
        height: 3rem;
        padding-inline: 1rem;
        border: 2px solid var(--white);
        border-radius: 16px 0 16px 0;
      }
    }
  }
}
