* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #222222;
  --image-white: brightness(0) saturate(100%) invert(100%) sepia(99%)
    saturate(2%) hue-rotate(233deg) brightness(104%) contrast(100%);
  --image-black: brightness(0) saturate(100%) invert(10%) sepia(13%)
    saturate(0%) hue-rotate(217deg) brightness(104%) contrast(94%);
}

html {
  scroll-behavior: smooth;

  @media (max-width: 1024px) {
    font-size: 93.75%;
  }

  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  line-height: 1.2;
  font: 400 1rem var(--inter);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  line-height: 1.4;
  font: 700 1rem var(--inter);
}

button {
  cursor: pointer;

  &:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

strong,
span,
i {
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #000;
}

@keyframes slideBottom {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(-4rem);
  }
}
