.hero {
  position: relative;

  button {
    position: absolute;
    bottom: 2rem;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 0;
  }
}
