.projects {
  grid-template-columns: 1fr;
  height: 100%;

  @media (min-width: 840px) {
    display: grid;
    grid-template-columns: 375px 1fr;
  }

  .projectsControls {
    background: var(--black);
    padding: 0 2rem 2rem 2rem;

    header {
      height: 6rem;
      padding-block: 2rem;
      display: flex;
      align-items: center;

      h2 {
        text-transform: uppercase;
        font-size: 1.75rem;
        color: var(--white);
      }
    }

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      @media (min-width: 550px) {
        gap: 2.5rem;
      }

      @media (min-width: 840px) {
        gap: 1rem;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 3rem;
        padding-inline: 1rem;
        border: 0;
        border-radius: 20px 0 20px 0;
        background: rgba($color: #ffffff, $alpha: 0.05);
        color: var(--white);
        font-weight: 500;

        &.active {
          background: var(--white);
          color: var(--black);
          font-weight: 700;
        }
      }
    }
  }

  .projectsContainer {
    background: var(--white);
    height: calc(100% - 154px);
    padding: 2rem;
    position: relative;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
    }

    small {
      margin-top: 0.5rem;
      display: block;
      color: var(--black);
      font-size: 0.875rem;
    }

    .social {
      margin-top: auto;
      position: absolute;
      bottom: 2rem;
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--black);
      }
    }
  }
}
